:root {
  --primary-color: #724060;
  --secondary-color: #fdf3f3;
  --third-color: #f8e7e7; 
  --fourth-color: #724060; 
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'Roboto Slab', serif;
  --default-font-family: 'Roboto', sans-serif;
}
body {
  background-color:  #fdf3f3;
}
.flex-container {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #a070a1;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1 {
    color: #fdf3f3;
    font-family: var(--heading-font-family);
}
h2 {
    color: #fdf3f3;
   font-family: var(--default-font-family);
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
a:hover {
  color: var(--fourth-color);
}
img {
    border: #724060 3px;
    display: block;
    margin-left: 20px;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}