:root {
  --primary-color: #724060;
  --secondary-color: #fdf3f3;
  --third-color: #f8e7e7; 
  --fourth-color: #3d0240; 
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --heading-font-family: 'DM Serif Text', serif;
  --default-font-family: 'Roboto', sans-serif;
}
body {
  background-color:  #fdf3f3;
}
.flex-container {
    margin-top: 60px;
    margin-bottom: 20px;
    background-color: #a070a1;
    padding-top: 10px;
}
h1 {
    color: #fdf3f3;
    font-family: var(--heading-font-family);
    font-size: 60px;
    text-align: center;
}
h2 {
    color: #fdf3f3;
   font-family: var(--default-font-family);
   text-align: center;
}
footer {
background-color: #a070a1;
  margin-top: 100px;
  padding: 10px;
}
.container {
  margin: 0 auto;
  justify-content: center;
}
.mb-3 {
  color: var(--fourth-color);
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 60px;
  padding-top: 40px;
  padding-bottom: 20px;
}
.homepage-image {
    max-width: 375px;
    height:auto;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
a:hover {
  color: var(--fourth-color);
}
.logo {
  display: block;
  justify-content: center;
  opacity: 80%;
}
.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  background: var(--secondary-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.primary-link,
.project-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  }
  .project-link {
    padding-left: 30px;
    padding-right: 30px;
  }
  .contact {
    color: var(--fourth-color);
    font-family: var(--default-font-family);
  }
  .email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
    text-align: center;
  }

  p {
    text-align: center;
  }
  .mb-3 {
    font-size: 48px;
    text-align: center;
  }

  .project-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}